# copy/link to /etc/systemd/system/awesome-service.service
[Unit]
Description=Awesome Service
After=network.target awesome-service.socket
Requires=awesome-service.socket

[Service]
Environment=environment=development
ExecStart=/usr/local/bin/node /opt/svc.js
# this is not a daemon, file will execute and close
Type=oneshot
TimeoutStopSec=5

[Install]
WantedBy=default.target